*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    display: grid; 
    grid-template-columns: 40px 50px 50px 40px; 
    grid-template-rows: 100px 100px 100px; 
}

.item-1{
    background-color: blue;
    grid-row: 1/4;
    grid-column: 1/3;
}

.item-2{
    background-color: brown;
    grid-row: 1/4;

}

.item-3{
    background-color: aqua;
    grid-row: 1/4;
}