:root{
    --corPrincipal: rgb(195, 236, 238);

}
    


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: var(--corPrincipal);

}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quadrado {
    width: 200px;
    height: 200px;
    /* Substituído o background-color por linear-gradient */
    background: linear-gradient(to right, #4B0082, #8A2BE2); 
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.quadrado:hover {
    width: 220px;
    height: 220px;
    /* Adicionando um degradê de hover diferente para um efeito visual */
    background: linear-gradient(to top right, #9932CC, #DA70D6); 
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4); /* Sombra um pouco mais escura */
}

a:link{
    color: rgb(53, 223, 166);
}

span{
    background-color: rgb(124, 122, 122);

}


p:first-child { 
    color: blue; 
    
    
} 

#shrek::first-letter{
    color: #DA70D6;
    font-size: 45px;
}