body{
    /*faz com que o elemento tenha uma imagem de fundo*/
    background-image: url(https://www.shutterstock.com/image-photo/beautiful-golden-retriever-cute-puppy-260nw-2526542701.jpg);
    
    /*faz com que a imagem de fundo prenecha a tela*/
    background-size: cover;
}

#red{
    color: red;
}

#green{
    color: green;
}

#blue{
    color: blue;
}

p{
    font-family: "BBH Sans Bogle", sans-serif;
    text-align: justify;
}

h2{
    color: rgb(91, 25, 255);
}